<h3>Friendly Neighborhood Beeper Settings</h3>

<form class="form-horizontal">
    <h4>{{ _('Current Time') }} </h4>
    <div class="control-group">
        <input type="text" class="text-left" data-bind="value: current" disabled>
        <input type="text" class="input-mini text-left" data-bind="value: timezone" disabled>

        <label>
            {{ _('If the above time doesn\'t match reality, you\'ll need to resync OctoPrint\'s clock, or set your timezone. On Raspberry Pi based systems, this may mean running <code>raspi-config</code>') }}
        </label>
    </div>

    <h4>{{ _('Active Hours') }} </h4>
    <div class="control-group">
        <label class="control-label">
            {{ _('Start') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="time" step="60" class="input-medium text-left" data-bind="value: start_time">
            </div>
        </div>

        <label class="control-label">
            {{ _('Stop') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="time" step="60" class="input-medium text-left" data-bind="value: end_time">
            </div>
        </div>
    </div>

    <h4>{{ _('Beep Tone Settings') }} </h4>
    <div class="control-group">
        <div class="control-group">
            <label class="control-label">{{ _('Beep Method')}}</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="pluginFriendlyBeeperMethod" value="single" data-bind="checked: beep_method"> {{ _('Generate a single beep/tone on print completion') }}
                </label>
                <label class="radio">
                    <input type="radio" name="pluginFriendlyBeeperMethod" value="custom" data-bind="checked: beep_method"> {{ _('Play Custom Gcode on print completion') }}
                </label>
            </div>
        </div>

        <label class="control-label" data-bind="if: beep_method() === 'single'">
            {{ _('Frequency (Hz)') }}
        </label>

        <div class="controls" data-bind="if: beep_method() === 'single'">
            <div class="input-append">
                <input type="number" min="10" max="3000" step="10" class="input-mini text-left" data-bind="value: frequency">
            </div>
        </div>

        <label class="control-label" data-bind="if: beep_method() === 'single'">
            {{ _('Duration (Milliseconds)') }}
        </label>

        <div class="controls" data-bind="if: beep_method() === 'single'">
            <div class="input-append">
                <input type="number" min="100" max="3500" step="100" class="input-mini text-left" data-bind="value: duration">
            </div>
        </div>

        <label class="control-label" data-bind="if: beep_method() === 'custom'" style="display: contents;">
            {{ _('GCode Commands for Custom Tone') }}
        </label>

        <div class="controls">
            <div class="control-group" data-bind="if: beep_method() === 'custom'">
                <textarea class="input-block-level" rows="6" data-bind="value: custom_tone"></textarea>
                <div class="help-block">{{ _('Note: Some printer firmwares have difficulty producing a beep lasting more than 4 seconds. Please test your settings before you start a print.')}}</div>
            </div>
        </div>
    </div>

    <h4>{{ _('Beep Settings') }} </h4>
    <div class="control-group">
        <label class="control-label">
            {{ _('Notify On Pause') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: notify_on_pause"> {{ _('When the print is paused, either through OctoPrint or through a <a href="http://docs.octoprint.org/en/master/configuration/config_yaml.html#serial">pausing command</a>, trigger a beep') }}
                    <div class="help-block">
                        {{ _('This may need to be configured under the Printer -> Serial Connection -> Firmware & protocol -> Pausing commands')}}
                    </div>
                </label>
            </div>
        </div>

        <label class="control-label">
            {{ _('Wait For Cooldown') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: wait_for_cooldown"> {{ _('After the print has finished, wait for the bed to cooldown before triggering the beep') }}
                </label>

            </div>
        </div>

        <label class="control-label" data-bind="if: wait_for_cooldown">
            {{ _('Target Bed Temp') }}
        </label>

        <div class="control-group" data-bind="if: wait_for_cooldown">
            <div class="controls">
                <label class="input-append">
                    <input type="number" min="10" max="100" step="5" class="input-mini text-left" data-bind="value: bed_cool_to, enable: wait_for_cooldown"> {{ _('C') }}
                </label>
            </div>
        </div>

        <label class="control-label">
            {{ _('Test Beep') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" data-bind="click: beep_test">{{ _('Trigger Beep') }} </button>
                <span data-bind="text: beep_test_result"></span>
                <div class="help-block">{{ _('This will manually trigger the beep while obeying active hours. If <i>Wait For Cooldown</i> is enabled, and the bed is too hot, it won\'t wait for cooldown.')}}</div>
            </div>
        </div>
    </div>
</form>
