<h3>Friendly Neighborhood Beeper Settings</h3>

<form class="form-horizontal">
    <h4>{{ _('Current Time') }} </h4>
    <div class="control-group">
        <input type="text" class="text-left" data-bind="value: current" disabled>
        <input type="text" class="input-mini text-left" data-bind="value: timezone" disabled>

        <label>
            {{ _('If the above time doesn\'t match reality, you\'ll need to resync OctoPrint\'s clock, or set your timezone. On Raspberry Pi based systems, this may mean running raspi-config') }}
        </label>
    </div>

    <h4>{{ _('Active Hours') }} </h4>
    <div class="control-group">
        <label class="control-label">
            {{ _('Start') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="time" step="60" class="input-medium text-left" data-bind="value: start_time">
            </div>
        </div>

        <label class="control-label">
            {{ _('Stop') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="time" step="60" class="input-medium text-left" data-bind="value: end_time">
            </div>
        </div>
    </div>

    <h4>{{ _('Beep Settings') }} </h4>

    <div class="control-group">
        <label class="control-label">
            {{ _('Frequency (Hz)') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="number" step="10" class="input-mini text-left" data-bind="value: frequency">
            </div>
        </div>

        <label class="control-label">
            {{ _('Duration (Milliseconds)') }}
        </label>

        <div class="controls">
            <div class="input-append">
                <input type="number" step="100" class="input-mini text-left" data-bind="value: duration">
            </div>
        </div>

        <label class="control-label">
            {{ _('Notify On Pause') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: notify_on_pause"> {{ _('When the print is paused, either through OctoPrint or through a <a href="http://docs.octoprint.org/en/master/configuration/config_yaml.html#serial">pausing command</a>, trigger a beep') }}
                    <div class="help-block">
                        {{ _('This may need to be configured under the Printer -> Serial Connection -> Firmware & protocol -> Pausing commands')}}
                    </div>
                </label>
            </div>
        </div>

        <label class="control-label">
            {{ _('Wait For Cooldown') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: wait_for_cooldown"> {{ _('After the print has finished, wait for the bed to cooldown before triggering the beep') }}
                </label>

            </div>
        </div>

        <label class="control-label">
            {{ _('Target Bed Temp') }}
        </label>

        <div class="control-group">
            <div class="controls">
                <label class="input-append">
                    <input type="number" step="5" class="input-mini text-left" data-bind="value: bed_cool_to, enable: wait_for_cooldown"> {{ _('C') }}
                </label>
            </div>
        </div>
    </div>

    <div class="control-group">
        <button class="btn btn-primary" data-bind="click: beep_test">{{ _('Test') }} </button>
        <span data-bind="text: beep_test_result"></span>
        <div class="help-block">{{ _('This will test the beep and obey the above active hours. It won\'t check bed temperature')}}</div>
    </div>
</form>
